<!DOCTYPE html>
<html lang="en" ng-app="sampleApp">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="angular.js"></script>
</head>
<body>
<div ng-controller="test">
    <table border="2px solid black"; width="80%">
        <tr>
            <th>Number</th>
            <th>Name</th>
            <th>Location</th>
            <th>DELETE</th>
            <th>EDIT</th>
        </tr>
        <tr ng-repeat="team in teams" align="center">
            <td>{{$index+1}}</td>
            <td>{{team.Tname}}</td>
            <td>{{team.Location}}</td>
            <td><button ng-click="DR($index)">DELETE</button> </td>
            <td><button ng-click="EDIT($index)">EDIT</button> </td>
        </tr>
    </table>
    <button ng-click="built()">CREATE</button>
    <button ng-click="DF()">DELETE FIRST</button>
    <button ng-click="DL()">DELETE LAST</button>
 <!--   <button ng-click="AF()">ADD FIRST</button>
    <button ng-click="AL()">ADD LAST</button>-->
    <div ng-init="img1" ng-show='tableVisable'>
        <form>
            <table>
                <tr>
                    <td>NAME:</td>
                    <td><input type="text" ng-model="teamname"></td>
                </tr>
                <tr>
                    <td>LOCATION:</td>
                    <td><input type="text" ng-model="place"></td>
                </tr>
                <tr>
                    <td><button ng-click="save()">SAVE</button></td>
                </tr>
            </table>
        </form>
    </div>

</div>
</div>
</body>
<script>
    var myApp = angular.module("sampleApp",[]);
    myApp.controller("test",function($scope){
        $scope.built=function(){
            $scope.teams=[
                {'Tname':'Golden State Warriors','Location':'Oakland'},
                {'Tname':'New York Knicks','Location':'New York City'},
                {'Tname':'Miami Heat','Location':'Miami'},
                {'Tname':'Los Angels Clippers','Location':'LA'},
                {'Tname':'Los Angels Lakers','Location':'LA'},
                {'Tname':'Atlanta Hawks','Location':'Atlanta'}
            ];
        };
        $scope.DF=function(){
            $scope.teams.shift();
        };
        $scope.DL=function(){
            $scope.teams.pop();
        };
        $scope.AF=function(){
            $scope.teams.unshift();
        };
        $scope.AL=function(){
            $scope.teams.push();
        };
        $scope.DR=function(i){
            $scope.teams.splice(i,1);
        };
        $scope.tableVisable=false;
        $scope.EDIT= function (i) {
            $scope.tableVisable=!$scope.tableVisable;
            $scope.teamname= $scope.teams[i].Tname;
            $scope.place= $scope.teams[i].Location;
            $scope.num=i;
        };
        $scope.save= function() {
            $scope.tableVisable=!$scope.tableVisable;
            $scope.teams[$scope.num].Tname =  $scope.teamname;
            $scope.teams[$scope.num].Location = $scope.place;
            $scope.tableVisable=false;
        };

    });
</script>
</html>